<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Management</title>
</head>

<body>
    <h1>Trainers</h1>
    <a href="/new/trainer">New Trainer</a>
    <ul>
        <% trainers.map((trainer)=> { %>
            <li>
                <p>
                    <a href="/trainers/<%= trainer.trainer_id %>"><%= trainer.name %></a>
                </p>
            </li>
            <% }) %>
    </ul>
    <h1>Pokémons</h1>
    <a href="/new/pokemon">New Pokémon</a>
    <ul>
        <% pokemons.map((pokemon)=> { %>
            <li>
                <p>
                    <a href="/pokemons/<%= pokemon.pokemon_id %>"><%= pokemon.name %></a>
                </p>
            </li>
            <% }) %>
    </ul>
    <h1>Types</h1>
    <ul>
        <% types.map((type)=> { %>
            <li>
                <p>
                    <a href="/types/<%= type.type_id %>"><%= type.name %></a>
                </p>
            </li>
            <% }) %>
    </ul>
</body>

</html>